.list {
    min-width: 200px;
    min-height: 30px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    user-select: none;
}


.list__item {
    min-height: 30px;
    border-bottom: 1px solid #eaf0f4;
    display: flex;
}

.list__item:hover {
    background-color: #eaf0f4;
}
.list__item__row {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.list__item--end {
    border-bottom: none;
}

.list__item__content {
    margin: 0 0 0 4px;
    cursor: default;
}