.grid__column--5 {
    width: 5px;
}
  
.grid__column--10 {
  width: 10px;
}

.grid__column--15 {
  width: 15px;
}

.grid__column--20 {
  width: 20px;
}

.grid__column--25 {
  width: 25px;
}

.grid__column--30 {
  width: 30px;
}

.grid__column--35 {
  width: 35px;
}

.grid__column--40 {
  width: 40px;
}

.grid__column--45 {
  width: 45px;
}

.grid__column--50 {
  width: 50px;
}

.grid__column--55 {
  width: 55px;
}

.grid__column--60 {
  width: 60px;
}

.grid__column--65 {
  width: 65px;
}

.grid__column--70 {
  width: 70px;
}

.grid__column--75 {
  width: 75px;
}

.grid__column--80 {
  width: 80px;
}

.grid__column--85 {
  width: 85px;
}

.grid__column--90 {
  width: 90px;
}

.grid__column--95 {
  width: 95px;
}

.grid__column--100 {
  width: 100px;
}

